@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family:'Poppins' sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(138, 138, 219);
}
.signup-box{
    position: relative;
    background-color:rgba(255, 255, 255, 0.945);
    margin: 30px;
    width: 470px;
    height:550px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}


.firstname{
    width: 200px;

    text-align: left;
    margin-left:30px;

}
.lastname{
    width: 200px;
    height:30px ;
    text-align: left;
    margin-left:30px;
}
.email{
    width: 200px;
    height:30px ;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 50%;
    text-align: left;
    margin-left:30px;
}
.username{
    width: 200px;
    height:30px ;
    left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  text-align: left;
  margin-left:30px;
}
.create-pwd{
    text-align: left;
    width:300px;
    margin-left:30px;
}
.confirm-pwd{
    text-align: left;
    width:300px;
    margin-left:30px;
}
.btn{
 width: 90%;
 margin-top: 10px;
 
}
.media-options{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: white;
    width: 75%;
    height: 40px;
    background-color: #4267b2;
    border-radius: 5px;
   
   
}
img.google-img{
 position: absolute;
 top: 86%;
 left: 100px;

 transform: translateY(-50%);
}
img.google-img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-top: 10px;
}
a.google{
border: 1px solid #CACACA;
width: 75%;
height: 40px;
border-radius: 5px;
align-items: center; 

}
a.google span{
    text-align: center;
    margin-top: 10px;
}
.signup-box a:hover{
    text-decoration: none;
}